<div class="bg-white rounded-lg shadow-sm border border-gray-200" id="announcement">
    <div class="px-6 border-b border-gray-200">
        <Typography variant="card" font="semibold" color="dark" class="my-2">Announcements</Typography>
    </div>
    <div class="p-6 space-y-4">
        <div class="border-l-4 border-primary-100 pl-4 py-2 flex flex-col gap-1 cursor-pointer">
            <Typography font="medium" color="dark">New Release: Binus Higher Education Income App</Typography>
            <Typography class="mt-1" variant="sm">
                We’re excited to announce the release of the new App with improved features and performance. Click here to obtain user documentation.
            </Typography>
            <Typography variant="sm" font="light">
            Posted today by Finance Resource Management
            </Typography>
        </div>

    </div>
</div>