<div class="bg-white rounded-lg shadow-sm border border-gray-200" id="recentActivity">
    <div class="px-6 border-b border-gray-200">
        <Typography variant="h6" font="semibold" color="dark">Recent Activity</Typography>
    </div>
    <div class="p-6 space-y-3">
        <div class="p-4 text-center">
            <p class="text-slate-500 text-sm poppins-light">There is no recent activity yet!</p>
        </div>
    </div>
</div>

