@using System.Globalization
<style>
    .dx-texteditor.dx-editor-outlined {
        padding: 2px 5px !important;
    }
</style>
<main class="px-6 py-4 min-h-screen space-y-5 2xl:space-y-10">
    <section>
        <Typography variant="h4" font="bold" color="dark">Virtual Account</Typography>
        <Typography>
            This section provides access to Virtual Account mutation data. You can view detailed records of incoming transactions, and export the data to Excel for further analysis.
        </Typography>
    </section>
    <section>
        <Typography variant="h6" font="semibold" color="dark">This Month Insights</Typography>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mt-3 2xl:mt-5" id="va-insights">
            <div class="bg-white rounded-lg border border-gray-200 shadow-sm p-6">
                <div class="flex items-center justify-between">
                    <div>
                        <Typography variant="p" font="semibold" color="dark">Total Uploads</Typography>
                        <p class="text-xl max-lg:text-lg poppins-bold text-slate-800 mt-1" id="integration-data"></p>
                    </div>
                    <div class="w-12 h-12 bg-blue-100 rounded-lg flex items-center justify-center">
                        <i class="ri-bar-chart-fill text-lg text-primary-100"></i>
                    </div>
                </div>
            </div>
            <div class="bg-white rounded-lg border border-gray-200 shadow-sm p-6">
                <div class="flex items-center justify-between">
                    <div>
                        <Typography variant="p" font="semibold" color="dark">Total Amount</Typography>
                        <p class="text-xl max-lg:text-lg poppins-bold text-slate-800 mt-1" id="amount-data"></p>
                    </div>
                    <div class="w-12 h-12 bg-green-100 rounded-lg flex items-center justify-center">
                        <i class="ri-pulse-fill text-lg text-success-100"></i>
                    </div>
                </div>
            </div>
            <div class="bg-white rounded-lg border border-gray-200 shadow-sm p-6">
                <div class="flex items-center justify-between">
                    <div>
                        <Typography variant="p" font="semibold" color="dark">Total Transaction</Typography>
                        <p class="text-xl max-lg:text-lg poppins-bold text-slate-800 mt-1" id="transaction-data"></p>
                    </div>
                    <div class="w-12 h-12 bg-purple-200 rounded-lg flex items-center justify-center">
                        <i class="ri-funds-line text-lg text-purple-600"></i></i>
                    </div>
                </div>
            </div>
            <div class="bg-white rounded-lg border border-gray-200 shadow-sm p-6">
                <div class="flex items-center justify-between">
                    <div>
                        <Typography variant="p" font="semibold" color="dark">Last Uploaded</Typography>
                        <p class="text-xl max-lg:text-lg poppins-bold text-slate-800 mt-1" id="upload-data"></p>
                    </div>
                    <div class="w-12 h-12 bg-secondary-accent-200 rounded-lg flex items-center justify-center">
                        <i class="ri-time-line text-lg text-secondary-100"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <Typography variant="h6" font="semibold" color="dark">Mutations</Typography>
        <div class="flex justify-between items-center gap-5 mt-3 2xl:mt-5">
            <button id="upload-va" class="primary-btn h-fit" onclick="openUploadMutationModal()"><i class="ri-upload-cloud-2-line mr-2"></i>Upload</button>
            @(Html.DevExtreme().DateRangeBox()
                        .Width(400)
                        .StartDateLabel("Mutation Date From")
                        .EndDateLabel("Mutation Date To")
                        .OnValueChanged("onVaValueChanged")
                        .ID("vaDateRange")
                        .Value(new[] {
                        new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1).ToString("yyyy-MM-dd", CultureInfo.InvariantCulture),
                        DateTime.Now.ToString("yyyy-MM-dd", CultureInfo.InvariantCulture)
                        })
                        )
        </div>
        <div x-data="{
        tabSelected: 1,
        tabId: $id('tabs'),
        tabButtonClicked(tabButton){
            this.tabSelected = tabButton.id.replace(this.tabId + '-', '');
            this.tabRepositionMarker(tabButton);

            if(this.tabSelected == 2){
                initVirtualAccountMutationGrid()
            }
        },
        tabRepositionMarker(tabButton){
            this.$refs.tabMarker.style.width=tabButton.offsetWidth + 'px';
            this.$refs.tabMarker.style.height=tabButton.offsetHeight + 'px';
            this.$refs.tabMarker.style.left=tabButton.offsetLeft + 'px';
        },
        tabContentActive(tabContent){
            return this.tabSelected == tabContent.id.replace(this.tabId + '-content-', '');
        }
    }"
             x-init="tabRepositionMarker($refs.tabButtons.firstElementChild);" class="relative w-full">

            <div x-ref="tabButtons" class="mt-5 relative inline-grid items-center justify-center w-full h-10 grid-cols-2 p-1 text-gray-500 bg-neutral-accent-200 rounded-lg select-none max-w-sm">
                <div id="files-tab">
                    <button :id="$id(tabId)" @@click="tabButtonClicked($el);" type="button" class="relative z-20 inline-flex items-center justify-center w-full h-8 px-3 transition-all rounded-md cursor-pointer whitespace-nowrap">
                        <Typography >Files</Typography>
                    </button>
                </div>
                <div id="mutation-tab">
                    <button :id="$id(tabId)" @@click="tabButtonClicked($el);" type="button" class="relative z-20 inline-flex items-center justify-center w-full h-8 px-3 transition-all rounded-md cursor-pointer whitespace-nowrap">
                        <Typography >Mutation</Typography>
                    </button>
                </div>

                <div x-ref="tabMarker" class="absolute left-0 z-10 w-1/2 h-full duration-300 ease-out" x-cloak><div class="w-full h-full bg-white rounded-md shadow-sm"></div></div>
            </div>
            <div class="relative w-full mt-2 content">
                <div :id="$id(tabId + '-content')" x-show="tabContentActive($el)" class="relative w-full">
                    <div id="va-files-grid" class="h-full" style="max-height:600px;"></div>
                </div>

                <div :id="$id(tabId + '-content')" x-show="tabContentActive($el)" class="relative" x-cloak>
                    <div class="mt-5">
                        @(Html.DevExtreme().SelectBox()
                                                .ID("CompanySelectBox")
                                                .Width(380)
                                                .OnValueChanged("onVaValueChanged")
                                                .Placeholder("Select company")
                                                .DataSource(ds => ds.RemoteController()
                                                .LoadUrl("https://localhost:44354/api/v1/bank-mutation/va-company-id")
                                                .Key("valueExpr")
                                                .LoadParams(new { bankId = "BCA", mutationType = "VIRTUALACCOUNT" })
                                                .OnBeforeSend("devExtremeBeforeSend")
                                                )
                                                .DisplayExpr("displayExpr")
                                                .ValueExpr("valueExpr")
                                                )
                        <div id="va-mutation-grid" class="h-full" style="max-height:600px;"></div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <partial name="_UploadModal" />
</main>

@section scripts {
    <script src="~/js/Views/BankMutation/VirtualAccount/virtualAccount.js"></script>
    <script src="~/js/Views//BankMutation/uploadModal.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', async () => {
            try{
                showLoader();
                sessionStorage.setItem("current-mutation-type", "virtualAccount");
                 generateBreadcrumbs(BANK_MUTATION_VA_BREADCRUMBS);
                 await BcaVirtualAccountManager.init();
                 initVirtualAccountFilesGrid();
                hideLoader();
            }catch(err){
                hideLoader();
            }

        });

             
    </script>
}